@-moz-document domain("shibidp.colostate.edu"), domain("canvas.colostate.edu") {
    body {
        background: $background-color;
        color: $text-color;

        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            color: lighten(#032, 10%);
        }
    }

    #maincontent > div {
        background: initial;
    }

    .login-box {
        border-color: $border-color !important;
    }

    legend {
        border-color: $border-color;
        color: darken($text-color, 20%);
    }

    input {
        background: lighten($background-color, 10%);
        border-color: $border-color;
    }
}
