@-moz-document regexp("https://course.math.colostate.edu/calc2-review/lessons/.*.html") {
    body {
        background: $body-background-color;
        color: $body-text-color;
    }

    .lesson-heading {
        background: $body-background-color;
    }

    .section {
        background: $body-background-accent-color;
    }

    img  {
        @include invert-image;
    }
}
